<div>
  <div class="login-form">
    <form
      [formGroup]="loginForm"
      class="modal-content animate"
      method="post"
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="this.loginForm.valid && onSubmit()"
    >
      <h2 class="text-center">Log in</h2>
      <div class="text-center text-danger" *ngIf="this.loginForm.invalid">
        Username or password is incorrect
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input
            autoFocus
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Email"
            required
          />
        </div>
        <div *ngIf="f['email'].errors?.required" class="text-danger">
          Email is required
        </div>
        <div *ngIf="f['email'].errors?.email" class="text-danger">
          Email is invalid
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            required
          />
        </div>
        <div *ngIf="f['password'].errors?.required" class="text-danger">
          Password is required
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          [disabled]="this.loginForm.invalid"
        >
          Log In
        </button>
      </div>

      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
      <div class="text-center">
        <a href="#">Forgot Password?</a>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
    <!-- <p class="text-center"><a routerLink="/register">Create an Account</a></p> -->
  </div>
</div>
