<app-search (onSearchHandler)="searchHandler($event)"></app-search>
<div>
  <button
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#showModal"
    (click)="onAdd()"
  >
    <li class="fa fa-plus" aria-hidden="true"></li>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <ng-container *ngFor="let item of tableHeadersKeyList">
        <th
          attr.data-column="{{ item }}"
          class="table-{{ item }}"
          data-order="desc"
          scope="col"
          *ngIf="item !== 'searchFilter' && item !== ''"
          (click)="item !== 'action' ? onClickHandler($event) : ''"
        >
          {{ tableHeaders[item] }}
        </th>
      </ng-container>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of paginateData">
      <ng-container *ngFor="let item1 of tableHeadersKeyList">
        <td *ngIf="item1 !== 'action' && item1 !== 'searchFilter'">
          {{ item[item1] }}
        </td>
        <td *ngIf="item1 === 'action' && item.hasEdit">
          <button
            id="showModalButton"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#showModal"
            (click)="onToggle(item)"
          >
            <li class="fa fa-edit" aria-hidden="true"></li>
            Edit
          </button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<app-modal
  id="show"
  [modalTitle]="modalTitle"
  [modalData]="modalData"
  [modalFormElements]="modalFormElements"
  style="display: none"
></app-modal>

<app-pagination
  [paginationConfig]="paginationConfig"
  (onPaginationHandler)="paginateHandler($event)"
></app-pagination>
